header{
    height: 80px;
    background-color: antiquewhite;
}
header div{
    padding-top: 7px;
}
main{
    margin-top: 80px;
    min-height: 1200px;
}
.carousel{
    margin-left: 313px;
    width: 500px;
}
footer{
    height: 536px;
}
.k_search{
    background-color: white;
    border: 0px;
}
.k_tbdr{
    /*border: 1px dashed black;
    height: 100%;*/
}
header a{
    text-decoration: none;
}
header a:hover{
    color: white;
}
header a:active{
    color: rgb(11, 233, 11);
    border-bottom: 1px solid rgb(11, 233, 11);
}
.k_logo{
    width: 20px;
    height: auto;
}
form button:hover{
    color: blue;
    background-color: rgb(244, 244, 245);
}
.k_main{
    padding-top: 200px;
    margin-bottom: 200px;
    background-image: url('./img/img.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.k_log{
    margin-top: 50px;
    padding-top: 30px;
    text-align: center;
    border: 1px solid #000;
    background-color: #fdf6f6;
    height: 500px;
}
.k_log h2{
    text-decoration: underline;
}
.k_forget{
    padding-top: 20px;
    text-decoration: underline;
}